@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

.body {
    font-family: 'Raleway', sans-serif;
    background: url(/images/background.png);
    padding: 20px 0;
}
.container {
    width: 1200px;
    min-height: 1000px;
    border: 7px solid rgb(120, 196, 243);
    margin: 0 auto;
    margin-top: 10 auto;
    background: rgb(221, 230, 240);
}
.header {
    display: flex;
    height: 200px;
}
.titleblock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    font-size: 40px;
    color: rgb(249, 191, 104);
    margin-right: 2px;
    background: url(/images/backgroundtitle.png) no-repeat center center / cover;
}
.userpic {
    display: flex;
    width: 25%;
    height: 100%;
    background: url(/images/backgroundtitle.png) no-repeat center center / cover;
}
.userpic img {
    padding-left: 60;
    padding-top: 23;
}
.navigation div {

    display: flex;
    background: rgb(120, 196, 243);
    text-decoration: none;
    margin: 2px 0;
}
.navigation div a {
    width: 218px;
    display: flex;
    padding: 20px;
    padding-left: 60px;
    color: rgb(41, 73, 98);
    text-decoration: none;
    font-size:large;
    font-weight: bold;
    border-right: 2px solid rgb(81, 101, 135);
    transition: .2s;
}
.navigation a:hover {
    background: rgb(19, 84, 141);
    color: rgb(249, 191, 104);
}
.content {
    text-align: center;
    color: rgb(3, 54, 101);
}
.footer {
    text-align: center;
    height: 80px;
    margin-top:-40px;
}
.contentbar {
    margin-left: 20px;
    text-align: left;
}
ol, ul, li {
	list-style:inside
}
.scale {
    display: flex;
    overflow: hidden;
    margin-left: 30px;
}
.scale img {
    display: block;
    transition: .2s;
}
.scale img:hover {
    transform: scale(1.2);
   }
.realty {
	font-size: 15px;
}
.input {
    margin-bottom: 20px;
}