@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

.body {
    font-family: 'Raleway', sans-serif;
    background: url('../images/background.png');
    padding: 20px 0;
    line-height: 1.5;
}
.container {
    width: 1200px;
    min-height: 1300px;
    border: 7px solid rgb(120, 196, 243);
    margin: 0 auto;
    margin-top: 10 auto;
    background: rgb(221, 230, 240);
}
.header {
    display: flex;
    height: 200px;
}
.titleblock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(249, 191, 104);
    margin-right: 2px;
    background: url('../images/backgroundtitle.png') no-repeat center center / cover;
}
.userpic {
    display: flex;
    width: 25%;
    height: 100%;
    background: url('../images/backgroundtitle.png') no-repeat center center / cover;
}
.userpic img {
    margin-top: 25px;
    margin-left: 75px;
}
.navigation div {
    display: flex;
    background: rgb(120, 196, 243);
    text-decoration: none;
    margin: 2px 0;
}
.navigation div a {
    width: 218px;
    display: flex;
    padding: 20px;
    padding-left: 60px;
    color: rgb(41, 73, 98);
    font-size:larger;
    text-decoration: none;
    border-right: 2px solid rgba(0, 54, 142, 0.767);
    transition: .2s;
}
.navigation a:hover {
    background: rgb(19, 84, 141);
    color: rgb(249, 191, 104);
}
.content {
    margin-left: 30px;
    color: rgb(3, 54, 101);
}
.contentbar h1, h2, h3 {
    text-align: center;
}
.contentbar li {
    padding: 20px;
}
.footer {
    text-align: center;
    height: 80px;
    margin-top:-40px;
}
.contentbar {
    color: rgb(3, 54, 101);
    margin-left: 20px;
    text-align: left;
}
ol, ul, li {
	list-style:inside
}
.scale {
    display: flex;
    overflow: hidden;
    margin-left: 30px;
    margin-top: 20px;
}
.scale img {
    display: block;
    transition: .2s;
}
.scale img:hover {
    transform: scale(1.2);
   }
.realty {
	font-size: 15px;
}
.input {
    margin-bottom: 20px;
    padding: 15px;

}
.form {
    border: 3px solid rgb(0, 21, 67);
    margin: 20px;
    padding: 25px;
    font-size:large;
}